/* i really want this to be global */

@namespace url(http://www.w3.org/1999/xhtml);
#g-recaptcha, #qrCaptchaContainer { filter: invert(100%) hue-rotate(180deg) !important; }

@-moz-document url-prefix("https://www.google.com/recaptcha/api2/") { 
  
  #rc-imageselect, .rc-image-tile-target, .rc-imageselect-candidates { filter: invert(100%) hue-rotate(180deg) !important; }

}

@-moz-document url-prefix("https://www.google.com/recaptcha/api2/anchor?k=6Ld2sf4SAAAAAKSgzs0Q13IZhY02Pyo31S2jgOB5&co=aHR0cHM6Ly9wYXRyaWNraGxhdWtlLmdpdGh1Yi5pbzo0NDM.&hl") {

  #rc-imageselect, .rc-image-tile-target { filter: invert(100%) hue-rotate(180deg) !important; }
  
}