/* first page */
#banners { display: none; }
.StaticLoggedOutHomePage-content, .StaticLoggedOutHomePage .StreamsFooter-list, .StaticLoggedOutHomePage .StreamsFooter, .global-nav-inner, .login-responsive .page-canvas, .login-responsive .mobile { background-color: black; color: white; }
.StaticLoggedOutHomePage-signupSubtitle { color: #b2b2b2; }
.StaticLoggedOutHomePage-login .LoginForm-input input { background: #191919; color: white; }
.message { background: black; }
.message .message-text, .message .dismiss, .signin .remember { color: #ddd; }
input, input:focus { background: #191919; color: white; }

body, .r-yfoy6g, .r-aaos50, .r-1adg3ll { background-color: black !important; }
* { border: none !important; }
.r-1uaug3w { background-color: #0c0c0c; }
.r-1rnoaur, .r-1uaug3w { opacity: 0; transition: ease-in-out 1s !important; }
.r-1rnoaur:hover, .r-1uaug3w:hover { opacity: 1; transition: ease-in-out 1s !important; }

/*

OLD STYLE 

@-moz-document domain("twitter.com") {
/* custom colors */             
:root {
--bg1: #0c0c0c!important;                
--bg2: black !important;              
--text1: white!important;      
--text2: #556B82 !important;   

--accent: #4a90e2 !important;     
--sidebar: 0  !important;          
}       
    
                                      /* hide usernames */
  
.username {
opacity: 1 !important;
  }
.username:hover {
    opacity: 1 !important;
  }    
  
                            /*        autohide sidebars      */  
  
.WhoToFollow, .TweetImpressionsModule, div.roaming-module {
opacity: var(--sidebar) !important;    
}  
  
.WhoToFollow:hover, .Trends:hover, .TweetImpressionsModule:hover, .DashboardProfileCard:hover, div.roaming-module:hover {
opacity: 1 !important;   
}      
                        /*       remove import contacts     */  
  
.import-prompt {
display: none !important;    
}  
  
                                /* minimalize(wtf?) tweet window */
  
#global-tweet-dialog .modal-header, button.modal-btn:nth-child(3) {
display: none !important;
}  
  
.modal:not(.is-autoPosition) {
padding: 0px !important;
}   
  
                                            /* bg color */
                                            
.stream-item:not(.no-header-background-module) { background: black; }
.Tombstone { background-color: #0c0c0c; border: none; }
  
body, html, .ProfilePage .AppContent, .not-following .follow-button .follow-text, #page-outer {
color: var(--text1) !important;  
/*background: url() !important;*/
background: var(--bg2) !important;
}
  
.tweet {
padding: 20px !important;
background: var(--bg1) !important;  
transition: ease-in-out .3s !important;  
}    
   
                                                /* font - wip */  
  
  body, p, a, div.DirectMessage-text, div.tweet-text.js-tweet-text, #tweet-box-global {    
   /* font-family: "Segoe UI Semibold";
    font-size: 13px !important;*/
  }

  
                                    /* content bg color */  
.module .flex-module, .DashboardProfileCard-content, .Trends, .tweet, .global-nav .search-input, .DashboardProfileCard-avatarLink, .content-main .expansion-container > .original-tweet-container, .content-header .header-inner, .stream-item-activity-notification .stream-item-activity-line, .stream-item-activity-notification .activity-supplement, .stream-end-inner, .ProfileHeaderCard, .ProfileSidebar--withLeftAlignment, .WhoToFollow.is-visible, .ProfileHeading-toggle, .ProfileNav-list, .ProfileCanopy-navBar, .ProfileNav-item--userActions, .ProfileAvatar, .Grid-cell, .DMActivity-body, div.ProfileCardStats, #profile-hover-container, div.ProfileCard, #global-tweet-dialog-dialog, .modal-header, a.list-link.js-nav, a.list-link, .MomentCard, .EmojiPicker-query, .AdaptiveFiltersBar, .SidebarFilterModule, .EdgeButton--primary, .notifications-prompt-container, .MutedKeywordsFooter, .MomentCapsuleSummary--hero:hover, .MomentCapsuleSummary--portrait:hover {
background: var(--bg1) !important;
}  
  
  .CardComposer, .PollingCardComposer, .DMInbox-tab {
    box-shadow: none !important;
    border: none !important;
    background: var(--bg1) !important; 
    color: var(--bg1) !important; 
  }
  
.tweet:hover, .top-timeline-tweetbox .tweet-user, .new-tweets-bar, .new-tweets-bar:hover, .top-timeline-tweetbox .timeline-tweet-box .tweet-form.condensed .tweet-box, .global-nav-inner, div.profilecard-content, .dashboard-profilecard-stats, .DMActivity-container, .DMNotice, .DMActivity-header, .content-main .conversations-enabled .expansion-container .inline-reply-tweetbox, div.notie, .content-main .expansion-container > li:last-child .view-more-container, .global-nav .pull-right .dropdown-menu, .dismiss-confirmation, .action-prompt, .stream-end-inner, .Trends, .module, .module .flex-module, .permalink .inline-reply-tweetbox, .btn, div.ProfileCard-content, div.ProfileCard.js-actionable-user, li.active:nth-child(1) > a:nth-child(1), .js-nav-links > li:nth-child(2) > a:nth-child(1), .js-nav-links > li:nth-child(1) > a:nth-child(1), .stream-item-favorited_mention, .stream-item-favorited_mention, .stream-item-retweet, #stream-item-activity, .modal-tweet-form-container, #global-new-tweet-button:hover, button:hover, .button:hover, .content-inner, .StreamsTopBar, div.MomentGuideVTwoCapsuleSummary, .StreamsFooter, .message, .RetweetDialog-footer, .RetweetDialog-commentBox, .ThreadedConversation-showMore, .DMDivider, .action-confirmation, li.DMInbox-conversationItem > *, .stream-item-content.clearfix.stream-item-activity.stream-item-favorite.stream-item-activity-notification.has-activity-supplement-facepile, .recap-header.dismissible-content, .recap-header, .js-activity-retweeted_retweet, .js-activity-favorited_retweet, .js-activity-list_member_added, .js-activity-retweeted_mention, .js-activity-favorite, .DismissibleModule, .DMConversation-scrollContainer,
.dropdown-menu,
.modal-header,
.modal-content,
.ProfileCanopy-navBar,
.ProfileNav-item--userActions,
.ProfileHeading-toggle,
.WhoToFollow,
.ThreadedConversation-showMore,
.RetweetDialog-commentBox,
.js-activity-retweeted_retweet,
.js-activity-favorited_retweet,
.js-activity-list_member_added,
.js-activity-retweeted_mention,
.js-activity-favorite,
.ProfileCard,
.DMActivity-body,
.DMDivider,
button.NewTweetButton,
button.DMButton,
.PollXChoice-pollWrapper,
.TwitterCardsGrid,
.social-proof-label,
.DMPopoverMenu, .DMConversation-scrollContainer,
.dropdown-menu,
.modal-header,
.modal-content,
.ProfileCanopy-navBar,
.ProfileNav-item--userActions,
.ProfileHeading-toggle,
.WhoToFollow,
.ThreadedConversation-showMore,
.RetweetDialog-commentBox, .js-activity-follow, .js-activity-retweeted_retweet,
.js-activity-favorited_retweet,
        .js-activity-list_member_added,
.-activity-retweeted_mention,
.js-activity-favorite,
        .ProfileCard,
.DMActivity-body,
.DMDivider,
button.NewTweetButton,
button.DMButton,
.PollXChoice-pollWrapper,
.TwitterCardsGrid,
.social-proof-label,
.DMPopoverMenu,
.DismissibleModule,
.ThreadedConversation-viewOther,
.DMConversation-sendingStateIndicator,
.permalink.light-inline-actions.stream-uncapped.has-replies.original-permalink-page, .Gallery-content, div.header-inner,
#notifications-optout-all-top,
.notifications-web-soft-prompt,
.with-contacts-dashboard,
.find-friends-sources,
.muted-setting.js-actionable-user.account,
.blocked-setting.js-actionable-user.account,
.FacebookConnect,
.content-main .stream-item,
.ProfileHeading-content, .SummaryCard-contentContainer.TwitterCardsGrid-float--prev,
        .PollingCardComposer,
        .PollingCardComposer-optionInput.is-singleLine.is-plainText.u-borderUserColorLightFocus.is-showPlaceholder, .DMCompose > div:nth-child(2) > div:nth-child(3) > div:nth-child(1), li.DMTokenizedMultiselectSuggestion:nth-child(3), .MomentCapsuleItemTweet--withText, .MomentFloatingMenu, .BirthdateSelect-button, .notifications-prompt-container .notification-prompt {
background: var(--bg1) !important;
}  
  
  div.SummaryCard-contentContainer, div.SummaryCard-contentContainer:hover, .TwitterCard-container--clickable:hover, .stream-items, input, textarea, div[contenteditable], .t1-select, .TweetImpressionsModule, .TweetImpressionsModule-xAxis, .MomentGuideNavigation, #page-container, div.thumbnail-container, button.DMInbox-toolbar, li.DMInbox-conversationItem:hover > *, .DMConversation-composer, .DMComposer-container, .EmojiBar-icon, div.DirectMessage-text, #global-new-tweet-button, #global-tweet-dialog > div:nth-child(1), .modal-tweet-form-container > form:nth-child(1) > div:nth-child(2) > div:nth-child(2) > button:nth-child(3), #user-dropdown > div:nth-child(2) > ul:nth-child(3) > li:hover, a.list-link.js-nav:hover, a.list-link:hover, .active > a:nth-child(1), .page-canvas, .mobile, .Streams-dividerText, .StreamsHero-image, .LoginDialog-body, .LoginDialog-footer, div.social-proof-label, span.FollowStatus, .TypingIndicatorMessageBubble-dotContainer, .TypingIndicatorMessageBubble.Caret.Caret--left::before, .UserActions-editButton, .user-actions-follow-button, .primary-btn, .new-tweets-bar, .TypingIndicatorMessageBubble-dotContainer, .FoundMediaSearch-query, #tokenizedMultiselectHighlight9585979000, .DMTokenizedMultiselectSuggestion.is-highlighted, .InputToken, div.QuoteTweet, .modal-content .activity-popup-dialog-users .stream-item, .ep-CampaignContainer, select, .dropdown button.dropdown-link:hover, .ProfileSidebar--withLeftAlignment, .ProfileHeaderCard, .ProfileNav-item.ProfileNav-item--following.is-active, .ProfileNav-item.is-active, .content-searchbar, .AdaptiveNewsLargeImageHeadline-body, .ProfilePage.is-editing .ProfilePage-editingOverlay, .u-bgUserColorLightest, .u-bgUserColorLighter, .alert, .RichEditor, #retweet-tweet-dialog .modal, #global-tweet-dialog .modal, .Gallery.with-tweet .GalleryTweet.enable-fade .tweet:hover, .ThreadedConversation-showMoreThreads, .DMInboxItem.is-unread {
background: var(--bg2) !important;
  }  
  
  .ProfileCard-avatarLink, .Gallery.with-tweet .GalleryTweet.enable-fade .tweet, .permalink .inline-reply-tweetbox-container {
    background: transparent !important;   
  } 
  
  .ProfileCard-avatarImage.js-action-profile-avatar, .ProfileAvatar-image {
   border-radius: 180px !important;
    border: 5px solid var(--accent) !important;
  } 
  
/* text color */
body, p, a, div.DirectMessage-text, .stream-item .content, .Trends .context-trend-item .trend-item-stats, .Trends .trend-location, .Footer-item, .metadata.social-context, h3, input, .with-icn, .QuoteTweet-screenname, .QuoteTweet-text, .DMActivity-title, .DMEmptyState-header, .InputToken, .ProfileHeading-toggleItem.is-active, .ProfileHeaderCard-locationText, .ProfileHeaderCard-joinDateText, .ProfileNav-item.is-active .ProfileNav-value, .ProfileNav-stat, .metadata, .global-nav .form-search, .bird-topbar-etched, #tweet-box-home-timeline, div.ProfileCardStats:nth-child(3) > ul:nth-child(1) > li:nth-child(1) > a:nth-child(1) > span:nth-child(1), div.ProfileCardStats:nth-child(3) > ul:nth-child(1) > li:nth-child(2) > a:nth-child(1) > span:nth-child(1), div.ProfileCardStats:nth-child(3) > ul:nth-child(1) > li:nth-child(3) > a:nth-child(1) > span:nth-child(1), .btn, .nav > li .Icon, .nav > li > a .text, .ProfileHeaderCard-location .Icon, .ProfileHeaderCard-url .Icon, .PhotoRail-heading .Icon, .ProfileHeaderCard-joinDate .Icon, .global-nav .search-icon .Icon, .ProfileHeaderCard-birthdateText, .ProfileHeaderCard-screenname > span, div.u-floatLeft, div.u-floatRight, .count > span, div.ProfileNameTruncated, .TweetImpressionsModule-heading, .MomentGuideVTwoCapsuleSummary-description.u-dir, .new-tweets-bar, .TweetTextSize.js-tweet-text.tweet-text, #tweet-box-global, .tagged-users, div.tweet-text.js-tweet-text, #tweet-box-global, #tweet-box-dm-conversation, a:hover, span.js-display-url:hover, span.StreamsCategoryBar-itemName, .message-text, div.RichEditor:nth-child(1) > div:nth-child(2) > div:nth-child(1), .DMDivider, .action-prompt, .dismiss-confirmation, .action-confirmation, span.FollowStatus, .count > span:nth-child(1), .dm-new > span:nth-child(1), .username, .nbfc.txt-ellipsis, textarea, div.RichEditor:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1), .is-cardComposerOn > div:nth-child(1) > div:nth-child(6) > div:nth-child(3) > div:nth-child(1) > div, .PollingCardComposer-optionInput, .ep-MetricAnimation, .ep-SignupText.ep-SectionTitle, .ep-SignupSubText, .as-PromoteText, .recap-header, .Icon--balloon, .RichEditor.RichEditor--emojiPicker div[contenteditable], .RichEditor.RichEditor--emojiPicker div[contenteditable]:focus, .RichEditor.RichEditor--emojiPicker div.fake-focus[contenteditable], .MomentUserByline-fullname, .MomentCapsuleLikesFacepile-count, .u-textUserColor, .u-textUserColorHover:hover, .u-textUserColorHover:hover .ProfileTweet-actionCount, .u-textUserColorHover:focus, .tweet-counter {
color: var(--text1) !important;
}  
  
/* link color */ 
a, span, .TweetTextSize .twitter-atreply b, s, b, .account-group .fullname, .import-prompt p > span, .account-group .username, .DashboardProfileCard-statLabel, .Trends .context-trend-item .trend-item-context, .DMNotice-message, strong, .ProfileNav-item.is-active .ProfileNav-label, .ProfileNav-item.is-active:hover .ProfileNav-label, .ProfileNav-label, .ProfileUserList-permalink, a.u-textUserColor, .ProfileNav-item.is-active .ProfileNav-label, .btn-link, .dropdown-menu .dropdown-link, .MomentCapsuleSubtitle, #menu-0, span._timestamp.js-relative-timestamp, label, legend, span.js-display-url, .js-openLink > div:nth-child(1) > span:nth-child(3), .time, .LoginDialog-bird > span:nth-child(1), span.PollXChoice-choice--chart, ._timestamp, div.SummaryCard-contentContainer > div:nth-child(1) > span, .MomentCard-authorName, .MomentCard-badgeText, .MomentCard-authorScreenName, .ep-MetricName, .ep-EngagementsTableName, .username, .MomentButton--blue, .MomentButton--blue:focus, h2 {
color: var(--text2) !important;
}    
  
.ProfileTweet-actionButton, .HeartAnimation {
   color: var(--text1) !important;
  }  
  
            /* accent color for profiles */
  
.Icon--pinned, .PollingCardComposer-addOption.u-textUserColor, .PollingCardComposer-defaultDuration.u-textUserColor, .follow-button .Icon, .ep-Title, .Icon--retweeted {
 color: var(--accent) !important;   
  }  
  
#user-dropdown > div:nth-child(2) > ul:nth-child(3) > li:hover > *, .dm-new > span:nth-child(1), .count > span:nth-child(1), .home.active, .global-dm-nav .dm-new, .global-nav .people .count {
background: var(--accent) !important;       
  }  
  
.global-dm-nav, #global-nav-home > a, .people > a, .moments > a, .count > span:nth-child(1) {
border-color: var(--accent) !important;        
  }  
  
.count > span:nth-child(1), .dm-new > span:nth-child(1) {
opacity: 0.8 !important;    
  }

  
                      /* remove borders */
.tweet, .module .flex-module, .wtf-module .import-prompt .cta,  .top-timeline-tweetbox .timeline-tweet-box, .new-tweets-bar, .top-timeline-tweetbox .timeline-tweet-box .tweet-form.condensed .tweet-box, .global-nav .search-input, .QuoteTweet, .Trends, .module, .stream-item:not(.no-header-background-module), .content-main .expansion-container > .original-tweet-container, .DMActivity-header, .content-header .header-inner, .content-header, .stream-item-activity-notification, .stream-end, .ProfileHeading-content, .ProfileCanopy-navBar, .ProfileAvatar, .WhoToFollow.is-visible, .content-main .conversations-enabled .expansion-container .inline-reply-tweetbox, .conversations-enabled .inline-reply-caret, .conversations-enabled .inline-reply-caret .caret-inner, .tweet .stats, .stream-item .stats .avatar-row a:first-child, .dropdown-caret .caret-inner, .dropdown-menu li, .dismiss-module .dismiss-confirmation, .dismiss-module .feedback-action, .stream-end-item, .stream-end, .stream-loading, .stream-placeholder, .TwitterCard-container, div.SummaryCard-contentContainer, .permalink .inline-reply-tweetbox, .DashboardProfileCard-bg, div.RichEditor, .NewTweetButton, .user-actions-follow-button, .UserActions-editButton, .TweetImpressionsModule, .TweetImpressionsModule-xAxis, div.ProfileCard.js-actionable-user, li.active:nth-child(1) > a:nth-child(1), .js-nav-links > li:nth-child(2) > a:nth-child(1), .js-nav-links > li:nth-child(1) > a:nth-child(1), .dismiss-module, #stream-item-who_to_follow_entry-754957469835755520, .NotificationsHeadingContent, .stream-item-favorited_mention, .MomentGuideNavigation, div.MomentGuideVTwoCapsuleGroup, .modal-header, .AdaptiveFiltersBar, .AdaptiveFiltersBar-label, div.ComposerThumbnail, #tweet-box-home-timeline, button.DMInbox-toolbar, .DMConversation-composer, .DMComposer-container, div.DirectMessage-message::before, .content-inner, input, select, a.list-link.js-nav, a.list-link, button.submit, .StreamsTopBar, a.StreamsCategoryBar-item, div.MomentGuideVTwoCapsuleSummary, .StreamsFooter, .LoginDialog-footer, .global-nav, .retweet-action, .ThreadedConversation-showMore, .ThreadedConversation-showMore, .ThreadedConversation, .show-more-link, .DMDivider::before, .PlayerCard-videoContainer, li.DMInbox-conversationItem > *, .js-activity-retweeted_retweet, .js-activity-favorited_retweet, .js-activity-list_member_added, .js-activity-retweeted_mention, .js-activity-favorite,  .ThreadedConversation-showMore, .ThreadedConversation-showMore::after, .js-profile-popup-actionable, .primary-btn, .TypingIndicatorMessageBubble.Caret.Caret--left::before,  .ThreadedConversation-showMore,
.ThreadedConversation-showMore::after,
.js-profile-popup-actionable, .primary-btn, .TypingIndicatorMessageBubble.Caret.Caret--left::before, .view-other-link, .ThreadedConversation, .ThreadedConversation--loneTweet, .typeahead-items.typeahead-accounts.social-context.js-typeahead-accounts.block3.has-results, #notifications-optout-all-top, .find-friends-list > li,
        .muted-setting.js-actionable-user.account,
        .blocked-setting.js-actionable-user.account,
    .SummaryCard-image.TwitterCardsGrid-col--12,
        .SummaryCard-image.TwitterCardsGrid-float--prev,
        .FacebookConnect-actionButton,
        .content-main #apps-stream .stream-item .app,
        .content-main #apps-stream .stream-item .app button, .PollingCardComposer-optionInput.is-singleLine.is-plainText.u-borderUserColorLightFocus.is-showPlaceholder, .PollingCardComposer-pollDuration, div.FoundMediaSearch-categoryContainer, .FoundMediaSearch-query, .thumbnail-container, .has-thumbnail, .TweetBoxAttachments, .photo-tagging-controls.user-select-controls, .MomentCard-cover, .ProfileClusterFollow, .TokenizedMultiselect-inputContainer, #tokenizedMultiselectHighlight9585979000, .DMTokenizedMultiselectSuggestion.is-highlighted, .InputToken, .js-inreply, .acc-twitter, .PollingCardComposer-optionInput.is-singleLine.is-plainText.u-borderUserColorLightFocus, .EmojiPicker-categoryColumn, div.EmojiPicker-categoryResult:nth-child(1) > h3, .EmojiPicker-categoryHeader, .EmojiPicker-diversityRow, .EmojiPicker-query, .ep-Header.ep-Section, .ep-EngagementsTableHeader, .ep-Signup .ep-InlineSignupButton, .as-Form.as-Section.clearfix, #as-Footer, #as-Header, #as-Back, #as-Next, .recap-header, #confirm_dialog-dialog > div:nth-child(2) > div, #confirm_dialog-dialog > div *, .ActivityItem, .not-following .follow-button .follow-text, .btn, .ProfileNav-item.is-active, .u-borderUserColor, .ProfileCard-bg, img, .content-searchbar, .flex-table-secondary, .MomentsPermalinkPage-related, .MomentButton--blue, .MomentButton--blue:focus, .MomentCapsuleCover-media, .MomentFloatingMenu, .SidebarFilterModule, .AdaptiveNewsLargeImageHeadline-body, input, textarea, div[contenteditable], .t1-select, .BirthdateSelect-button, input, textarea, div[contenteditable], .t1-select, .alert, .notifications-prompt-container, .MutedKeywordsFooter, .stream-item-footer, .wtf-module .UserSmallListItem, .ThreadedConversation-showMoreThreads {
border: none !important;
}  
  
.NewTweetButton, .DMButton, .user-actions-follow-button, div.ComposerThumbnail, #tweet-box-home-timeline, button.DMInbox-toolbar, .DMConversation-composer, .DMComposer-container, #global-new-tweet-button, button.tweet-action, button.submit, .retweet-action, .NewTweetButton, .DMButton, .user-actions-follow-button, div.ComposerThumbnail, #tweet-box-home-timeline, button.DMInbox-toolbar, .DMConversation-composer, .DMComposer-container, #global-new-tweet-button, button.tweet-action, button.submit, .thumbnail-container, .has-thumbnail, .TweetBoxAttachments, .ProfileCanopy-header::before, #confirm_dialog_submit_button, .content-searchbar .search-query, .btn, textarea, .tweet-box textarea:focus, .tweet-box input[type="text"], .currently-dragging .tweet-form.is-droppable .tweet-drag-help, .tweet-box[contenteditable="true"]:focus, .RichEditor.is-fakeFocus, .RichEditor.is-fakeFocus ~ .TweetBoxAttachments, input, textarea, div[contenteditable], .t1-select {
    box-shadow: none !important;
  }     
  
.MutedKeywordsFooter, #global-tweet-dialog-dialog > div:nth-child(2) > div:nth-child(1), .page-canvas, .mobile, div.MomentGuideVTwoCapsuleSummary, #submit_button, .Trends, .DashboardProfileCard, img, .tweet, img > *, div.roaming-module, .WhoToFollow, .EdgeButton--primary, .btn, input, textarea, div[contenteditable], .t1-select, div.RichEditor {
    border-radius: 0px !important;
  }  
  
  
/* buttons */
.follow-btn.small-follow-btn, .follow-btn, .DashboardProfileCard-avatarImage, .modal-tweet-form-container, #global-new-tweet-button, .EdgeButton--tertiary, .EdgeButton--secondary {
background: var(--bg2) !important;
color: var(--text1) !important;
border: 1px solid var(--bg2) !important;
box-shadow: none !important;
border: none !important;
border-radius: 0px !important;  
}    
  
  hr {
    border: 1px solid var(--bg2) !important;
  }  
  
                          /* action buttons */
  
  
 
  /* button */  
.ProfileTweet-action--retweet .ProfileTweet-actionButton:focus, .ProfileTweet-action--retweet .ProfileTweet-actionCount:focus, .ProfileTweet-action--retweet .ProfileTweet-actionButton, .u-textUserColorHover, .ProfileTweet-actionButton, .ProfileTweet-actionCount, .Icon.Icon--caretDownLight.Icon--smallest {
color: #aaa !important;  
  }    
/* button used */
.tweet.retweeted .ProfileTweet-action--retweet .Icon--retweet, .tweet.retweeted .ProfileTweet-action--retweet .ProfileTweet-actionButtonUndo, .Icon--colorHeart, .Icon--circleActiveHeart, .Icon--heartBadge, .Icon--follower, .Icon--magicrecs, .Icon--colorLightning, .Icon--colorFollower {
color: var(--accent) !important;    
  }  
/* button hover */
.ProfileTweet-action--retweet .ProfileTweet-actionButton:hover, .ProfileTweet-action--retweet .ProfileTweet-actionCount:hover,.Icon.Icon--reply:hover, .ProfileTweet-actionButton.u-textUserColorHover.js-actionButton.js-actionReply:hover {
color: var(--accent) !important;      
  }  
  
                   /* misc tweaks */
  
  .dm-new > span, .dm-new > span:nth-child(1) {
  border: 2px solid var(--accent) !important; 
  }  
  
.Icon.Icon--caretDownLight.Icon--smallest {
  margin-right: 5px !important;
  }
  
  .tweet .time {
    float: right !important;
    margin-right: 20px !important;
  }    
  
  .Icon.Icon--caretDownLight.Icon--smallest:hover {
  margin-right: 10px !important;
  }  
 
  
.ProfileAvatar-image {
    margin-top: -87px !important;
  }  
  
  .ProfileAvatar {
    background-color: transparent !important;
    box-shadow: none !important;
  }  
  
/*   #global-tweet-dialog > div:nth-child(1) {
    opacity: 0.3 !important;
  }    */
  
  li.ProfileNav-item:nth-child(1) > a, li.ProfileNav-item:hover, .count > span {
border-color: var(--bg2) !important;
  }  
  
  .IconContainer.js-tooltip {
    opacity: 0.7 !important;
  }
.IconContainer.js-tooltip:hover {
    opacity: 0.3 !important;
  }  
  
.count > span {
  background: var(--bg1) !important;
  opacity: 0.5 !important;
  filter: none !important;
}  
  
.dismiss, .modal-tweet-form-container > form:nth-child(1) > div:nth-child(2) > div:nth-child(2) > span:nth-child(2) {
color: var(--text2) !important;    
}  
  
.modal-tweet-form-container > form:nth-child(1) > div:nth-child(2) > div:nth-child(2) > span:nth-child(2), .RetweetDialog-counter, .tweet-counter {
  text-shadow: none !important;
  }  
  
.recap-header.dismissible-content, .recap-header {
  padding: 10px !important;
  margin: 0 !important;
  }  
  
.tweet .time::before, .top-timeline-tweet-box-user-image, .TweetBox-photoIntent > div:nth-child(1), .home-tweet-box {
    display: none !important;
  }  
  
  .ProfileHeaderCard-screenname > span {
    text-transform: none !important;
    font-size: 14px !important;
  }  
 
  
                        /* remove footer */
  
.Footer {
   display: none !important; 
  }  
  
  
.nav > li > a .text {
opacity: 0 !important;
}  
 
  
  
  .ProfileAvatar-image  {
     -webkit-transition: -webkit-transform .8s ease-in-out !important;
    transition: transform .9s ease-in-out !important;   
  }
  
  
  .ProfileAvatar-image:hover  {
        transform:rotate(360deg) !important;
    -webkit-transform:rotate(360deg) !important;
  }  
  
  
                  /* move left sidebar to far left - VERY WIP
  
  
div.dashboard.dashboard-left {
position: absolute !important;  
left: 0 !important;      
margin-left: -50px !important;  
top: 45px !important;
}
  
.stream {
position: absolute !important;  
margin: 0 auto !important;     
left: 50% !important;
}  
  
.new-tweets-bar {
position: fixed !important;  
margin: 0 auto !important;       
bottom: 0 !important;
left: 0 !important;
width: 100% !important;
background: var(--accent) !important;
}  */
  
  
  
.WhoToFollow, .Trends, .TweetImpressionsModule, .DashboardProfileCard, .username, .username:hover, .WhoToFollow:hover, .Trends:hover, .TweetImpressionsModule:hover, .DashboardProfileCard:hover, div.roaming-module {
transition: ease-in-out .4s !important;  
}  

  
  
                         /* autohide stuff */
  
div.Grid-cell, div.ComposerThumbnail, .Gallery-media {
background: transparent !important;    
}    
    
#global-nav-home, .people, .dm-nav, .moments {
max-width: 50px !important;  
} 
  
.people {
    margin-left: -13px !important;  
  }  
  
/* hide buttons in header */
.global-nav .search-icon .Icon, .InStreamLogin {
display: none !important;  
}  
  
.stream-item-header .avatar {
opacity: 0.7 !important;  
}  
  
a, span.js-display-url, .trend-item:hover, .u-linkComplex:hover .u-linkComplex-target, .u-linkComplex:focus .u-linkComplex-target, .u-linkComplex:active .u-linkComplex-target {
    text-decoration: none !important;
  }
  
.ThreadedConversation {
  margin: 0px !important; 
  }
  
.ThreadedConversation {
margin: 0px !important;
}

span.PollXChoice-choice--selected { 
margin-left: -15px !important; 
}  
  
  .new-tweets-bar {
position: fixed !important;    
bottom: 0 !important;
left: 0 !important;    
width: 100% !important;    
  }
  
 /* .timeline-tweet-box {
    margin-top: -20px !important;
    opacity: 0 !important;  
  }  
    .timeline-tweet-box:hover {
    opacity: 0.7 !important;  
  }  */
  
.global-nav .search-input {
width: 500px !important;
margin-left: -570px !important;
opacity: 0 !important;  
}
.global-nav .search-input:hover {
opacity: 0.9 !important;  
}  
  
.home-tweet-box, .global-nav {
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1) !important;
}  
  
                 /*Thread Convo Lines*/
       
 .ThreadedConversation-tweet::before {
margin-top: -0.7% !important;
}
       
.ThreadedConversation-tweet::after {
margin-top: 2% !important;
}
       
.conversation-module .conversation-tweet-item::after { margin-top: 2.60% !important;
background-color: var(--accent) !important;
}

.original-tweet-item.last-navigable-stream-item::before { 
margin-top: -0.5% !important;
background-color: var(--accent) !important;
display: none !important; 
  } 


  
.vellip, .vellip::before, .vellip::after, .ThreadedConversation--loneTweet::after, .ThreadedConversation-moreReplies::before, .ThreadedConversation-viewOther::before, .ThreadedConversation-unavailableTweet::before, .ThreadedConversation-unavailableTweet::after, .ThreadedConversation--permalinkTweetWithAncestors::before, .mini-avatar-with-thread::before, .permalink.self-thread-permalink-with-descendant .permalink-tweet-container::after, .permalink.self-thread-permalink-with-descendant .inline-reply-tweetbox-container::after {
display: none !important;
  }



  .ProfileHeaderEditing-button:hover {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    opacity: 0.4 !important;
  }   
  
  .ProfileAvatarEditing {
     border: none !important;
    border-radius: 0px !important;
  }  
  
  .ProfileHeaderEditing-changeHeaderHelp > p:nth-child(2) {
    text-shadow: none !important;
  }  
  
  .tweet:hover {
    background: var(--bg2) !important;  
    transition: ease-in-out .3s !important;
  }   

/*    menu arrow dropdown */  
  
.ProfileTweet-action.ProfileTweet-action--more.js-more-ProfileTweet-actions {
opacity: 0 !important;
  }  
  
.ProfileTweet-action.ProfileTweet-action--more.js-more-ProfileTweet-actions:hover {
opacity: 1 !important; 
  }
}

*/